body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 40px;
}

.orange-color {
    color: rgba(85, 216, 216, 0.808);
}

section {
    display: flex;
}

.half-width {
    width: 50%;
    padding: 2%;
}

.half-width img {
    width: 80%;
}